
/* 
.text-box {
    background-color: black;
    width: 5em;
    height: 5em;
    margin: 1em;
    float: left;
    color: white;
    text-align: center;
    text-justify: inter-word;
    line-height: 5em;
    background-color: rgba(red, green, blue, alpha)
} */

